@page "/word/addwords"
@inject NavigationManager navigationManager
@inject MovieRepository movieRepository

<h3>Wörter der Datenbank zufügen</h3>

<p>
    <MatTextField @bind-Value="@Word" Label="Wort:"></MatTextField>
</p>
<p>
    <MatTextField @bind-Value="@Translation" Label="Übersetzung:"></MatTextField>
</p>
<p>
    <MatSelect HelperText="Helper Text" Label="Schwierigkeitslevel" @bind-Value="@DifficultyLevel">
        <MatOption TValue="int" Value="1">Einfach</MatOption>
        <MatOption TValue="int" Value="2">Mittel</MatOption>
        <MatOption TValue="int" Value="3">Schwer</MatOption>

    </MatSelect>
</p>

<MatButton OnClick="@addWordsToList">Wort der Liste hinzufügen</MatButton>

<WordSelector SelectedWords="words"></WordSelector>

<MatButton OnClick="@addWordsToDatabase"  Raised="true">Alle Wörter in der Liste der Datenbank zufügen</MatButton>



@code {
    public string Word { get; set; }
    public string Translation { get; set; }
    public int DifficultyLevel { get; set; }

    List<WordDTO> words = new List<WordDTO>();

    private void addWordsToList()
    {
        WordDTO newWord = new WordDTO();
        newWord.EnglischWord = this.Word;
        newWord.Translation = this.Word;
        newWord.DifficultyLevel = this.DifficultyLevel;

        words.Add(newWord);

        this.Word = "";
        this.Translation = "";
        this.DifficultyLevel = 0;
        StateHasChanged();

    }

    private void addWordsToDatabase()
    {


    }

}
