@inject WordRepository wordRepo

<CustomTypeahead SearchMethod="@((string searchText) => SearchForWords(searchText))"
                 ValueChanged="@((WordDTO word) => SelectedWord(word))" Context="word">
    <ResultTemplate>
        @word.EnglischWord/ @word.Translation;
    </ResultTemplate>

</CustomTypeahead>



<ul class="selectable-ul">
    @foreach (var word in Words)
    {
        <li>@word.EnglischWord</li>
    }
</ul>


@code {

    [Parameter] public List<WordDTO> Words { get; set; }


    private async Task<IEnumerable<WordDTO>> SearchForWords(string searchText)
    {
        return await wordRepo.GetWordSuggestions(searchText);
    }


    private void SelectedWord(WordDTO word)
    {
        if (!Words.Any(x => x.Equals(word)))
        {
            Words.Add(word);
        }
    }
}